#response {
  font-family: "Cascadia Code";
  margin: auto;
  width: auto;
  border: 1px solid;
  padding: 1px;
  border-radius: 20px;
}

#pedir-c,
#enviar-c {
  width: 200px;
  display: block;
}
#name {
  display: block;
  width: 174px;
}
#post-b {
  width: 200px;
  border-radius: 10px;
  display: block;
}
p {
  font-family: "Cascadia Code";
  margin: auto;
  width: auto;
}
details {
  font-family: "Cascadia Code";
}

button,
textarea,
input {
  font-family: "Cascadia Code";
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
  width: 174px;
}

body {
  font-family: "Cascadia Code";
}
